@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Regular.ttf") format("truetype");
}
body {
  font-family: "Barlow", sans-serif;
  padding: 20px;
  background-image: linear-gradient(
    180deg,
    hsl(222deg 56% 92%) 0%,
    hsl(216deg 70% 88%) 16%,
    hsl(211deg 76% 82%) 28%,
    hsl(206deg 79% 76%) 37%,
    hsl(201deg 80% 67%) 46%,
    hsl(201deg 92% 52%) 53%,
    hsl(206deg 100% 49%) 60%,
    hsl(212deg 100% 48%) 67%,
    hsl(228deg 82% 54%) 73%,
    hsl(228deg 72% 48%) 79%,
    hsl(229deg 74% 42%) 86%,
    hsl(229deg 76% 36%) 92%,
    hsl(228deg 79% 31%) 100%
  );
}

/* Título */
#tituloPrincipal {
  text-align: center;
}

#tituloPrincipal h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

#subtitulo {
  text-align: center;
  margin-bottom: 30px;
}

/* Primera imagen */
#Imagen1 {
  float: left;
  width: 300px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 15px;
  margin: 0 20px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

/* Texto */
#contenido {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* Segunda imagen */
#Imagen2 {
  float: right;
  width: 300px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 15px;
  margin: 0 0 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

h5 {
  clear: both;
  text-align: center;
  margin-top: 30px;
}

footer {
  text-align: center;
  margin-top: 20px;
}
