/* Reset básico */
/** {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}*/

body {
  font-family: Barlow;
  padding: 20px;
  background-image: linear-gradient(
    180deg,
    hsl(222deg 56% 92%) 0%,
    hsl(216deg 70% 88%) 16%,
    hsl(211deg 76% 82%) 28%,
    hsl(206deg 79% 76%) 37%,
    hsl(201deg 80% 67%) 46%,
    hsl(201deg 92% 52%) 53%,
    hsl(206deg 100% 49%) 60%,
    hsl(212deg 100% 48%) 67%,
    hsl(228deg 82% 54%) 73%,
    hsl(228deg 72% 48%) 79%,
    hsl(229deg 74% 42%) 86%,
    hsl(229deg 76% 36%) 92%,
    hsl(228deg 79% 31%) 100%
  );
}

/* Fecha */
#fecha {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 2px solid #333;
  padding: 5px 10px;
}

/* Título */
#tituloPrincipal {
  width: 75%;
  margin: 0 auto 40px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 10px;
}
#subtitulo {
  width: 75%;
  margin: 0 auto 40px;
  text-align: center;
  border: 0.5px solid #ccc;
  border-radius: 8px;
  padding: 0px 10px;
}

#imagen1 {
  width: 120px;
  height: 120px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contenido {
  text-align: center;
  width: 80px;
  height: 150;
}
/* Creador */
h5 {
  width: 120px;
  margin-left: auto;
  margin-top: 15px;
  border: 2px solid #333;
  text-align: center;
  padding: 8px;
}

/* Encabezado */
.header {
  width: 80%;
  margin: 0 auto 20px;
  position: relative;
}

.articulo {
  border: 2px solid #333;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

/* Contenedor principal */
.revista {
  width: 800px;
  max-width: 95%;
  margin: auto;
  border: 2px solid #333;
  background: white;
  padding: 20px;
  position: relative;
}

/* Primera sección */
.seccion-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.texto-lateral {
  width: 55%;
}

.linea {
  height: 3px;
  background: #333;
  margin-bottom: 15px;
}

/* Texto central */
.texto-central {
  margin: 40px 0;
}

.texto-central .linea {
  width: 85%;
  margin: 20px auto;
}

/* Segunda sección */
.seccion-inferior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.texto-izq {
  width: 45%;
}

.texto-izq .linea {
  width: 100%;
}

.img-derecha {
  width: 160px;
  height: 140px;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  width: 70%;
  margin: 20px auto 0;
  border: 2px solid #333;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
